.banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 0 auto;
  color: white;
  padding: 80px;
}

.banner h1 {
  margin-bottom: 0;
}

.banner p {
  margin-bottom: 40px;
}

.container h2 {
  padding: 10px 20px;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}
